@if ((playerName$ | async) == '') {
    <p>you are joining an existing lobby! please select a name</p>
    <input #playerName>
    <button (click)="joinLobby(playerName.value)">Join</button>
} @else {
    @switch (gameState$ | async) {
        @case (gameStates.Waiting) {
            <p>hi '{{ playerName$ | async }}', invite others to the lobby with this link: <a [href]="shareUrl">{{ shareUrl }}</a></p>
            
            <button (click)="start()">Start Game</button>
        
            <h2>member list</h2>
            <ul>
            @for (member of (lobbyMembers$ | async); track $index) {
                <li>{{ member }}</li>
            }
            </ul>
        }
        @case (gameStates.InGame) {
            <p>in game as {{ playerName$ | async }}!</p>   
         
            <h2>member list</h2>
            <ul>
            @for (member of (lobbyMembers$ | async); track $index) {
                <li>{{ member }}</li>
            }
            </ul>
            
            <p>last played card:</p> 
            <img src="/assets/fronts/{{ lastPlayedCard$ | async }}.svg" style="max-width:120px;">
            
            <div class="hand">
                <h2>hand</h2>
            @for (card of (hand$ | async); track $index) {
                <app-card 
                    [cardName]="card"
                    [awaitingInput$]="awaitingInput$"
                    (played)="input($index)"></app-card>
            }
            </div>
        }
    }
}
<p>message: {{ message$ | async }}</p>
